@model RoleCreateModel
@{
    ViewData["Title"] = "Role Create";
    ViewData["PageTitle"] = "Role Create";
}

<div class="continer-fluid">
    <partial name="_ResponsePartial" />
    <h4 class="font-weight-bold text-center">Create Role</h4>
    <form class="w-75 mx-auto" asp-antiforgery="true" method="post" asp-area="Admin" asp-controller="Settings" asp-action="CreateRole">
        <div class="mb-3">
            <label for="Name" asp-for=Name class="form-label"></label>
            <input type="text" asp-for=Name class="form-control" id="roleName" placeholder="Enter Role Name">
            <span class="text-danger" asp-validation-for="Name"></span>
        </div>
        <div class="mb-3 text-center">
            <button type="submit" class="btn btn-primary px-2 w-100 ">Submit</button>
        </div>
    </form>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}