@{
    ViewData["Title"] = "Home Page";
}

<div class="w-50 px-5 mx-auto">
    <partial name ="_ResponsePartial" />
    <div class="text-start">
        <p><b>You have role:</b></p>
    @{

        if (User.Identity?.IsAuthenticated??false)
        {
            <b>Claims:</b>
            if (ViewBag.Roles != null)
            {
                <ul type="disc">
                    @foreach(var role in ViewBag.Roles)
                    {
                        <li>@role</li>
                    }
                </ul>
            }
        }
            <p>
        <b>User List</b></p>
        <ul>
        @foreach (var user in ViewBag.Users)
        {
            <li>@user</li>
        }
        </ul>
    }
    </div>
</div>
